$primary: #5867F7 !default;

$primary-gradient: #7884ed !default;
$primary-gradient-state: #4153f3 !default;

$box-shadow-primary: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(29, 6, 156, 0.4) !default;